<header>
  <div class="menu-title">
    <input type="checkbox" id="burger" />
    <label for="burger" title="Menu">
      <div class="burgericon">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </label>
    <h1>Cards-app</h1>
    <nav>
      <ul>
        <li><a href="/cards">Cards</a></li>
        <!-- <li><a href="">Import</a></li>
        <li><a href="">Copy</a></li>
        <li><a href="">Batch</a></li>
        <li><a href="">Export</a></li> -->
        <!-- <li><a href="/settings/users">Settings</a></li> -->
      </ul>
    </nav>
  </div>
</header>
